@charset "utf-8";
/* CSS Document */
@media (min-width:320px) and (max-width:1366px) {
body {
	font-family:open sans !important;
	background-color:#D7D7D7 !important;
}
.navbar.navbar-default.navbar-fixed-top {
	background-color:#003b49;
	border-color:transparent;
}
.navbar-nav>li>a {
	padding-top:10px !important;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid #myNavbar .nav.navbar-nav.navbar-right {
	margin-right:12%;
	margin-top:5px;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid #myNavbar .nav.navbar-nav.navbar-right li a {
	color:white;
	font-family:open sans;
	font-size:15px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color:transparent;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid #myNavbar .nav.navbar-nav.navbar-right .dropdown .dropdown-menu li a {
	color:#7F7F7F;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid #myNavbar .nav.navbar-nav.navbar-right .dropdown .dropdown-menu {
	background-color:#fff;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid #myNavbar .nav.navbar-nav.navbar-right .dropdown .dropdown-menu li a:hover {
	background-color:transparent;
	color:#003b49;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid .navbar-header .navbar-brand img {
	
	margin-top:-14px;
}
.header.navbar-fixed-top {
    height:50px;
	margin-top:50px;
	box-shadow: 0px 0px 15px #888888;
	background-color:#fff;
}
.header.navbar-fixed-top .container .row .col-sm-6.col-xs-6 #imaginary_container {
	margin-top:8px;
	width:125%;
}
.header.navbar-fixed-top .container .row .col-sm-6.col-xs-6 center img {
	margin-top:8px;
}
.card {
	background-color:#fff;
	margin-top:35%;
	height:375px;
}
.card .card-body hr {
	color:#000;
	width:95%;
}
.card .view.overlay.hm-white-slight center .img-fluid {
	width:95%;
	border-radius:10px;
}
.card .view.overlay.hm-white-slight h2 {
	font-size: 20px;
    margin-left: 4%;
    position: relative;
    top: 4px;
	color:#44bda9;
}
.card.two {
	margin-top:0;
}
.card.two .view.overlay.hm-white-slight h2 {
	font-size: 20px;
    margin-left: 4%;
    position: relative;
    top: 4px;
	color:#44bda9;
}
.card .card-body .table.text-center {
	margin-top: -20px;
    width: 85%;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top:0 !important;
	color:#003b49;
	font-weight:bold;
}

}
@media screen and (width: 360px) {
	.card {
		margin-top:31%;
	}
}
@media screen and (width: 640px) {
	.card {
		margin-top:18%;
	}
}
@media screen and (width: 480px) {
	.card {
		margin-top:25%;
	}
}
@media screen and (width: 533px) {
	.card {
		margin-top:20%;
	}
} 
@media screen and (width: 854px) {
	.card {
		margin-top:14%;
	}
}
@media screen and (width: 768px) {
	.card {
		margin-top:15%;
	}
}
@media screen and (width: 1024px) {
	.card {
		margin-top:12%;
	}
}
@media screen and (width: 412px) {
	.card {
		margin-top:28%;
	}
}
@media screen and (width: 414px) {
	.card {
		margin-top:28%;
	}
}
@media screen and (width: 736px) {
	.card {
		margin-top:18%;
	}
}
@media screen and (width: 568px) {
	.card {
		margin-top:20%;
	}
}
@media screen and (width: 375px) {
	.card {
		margin-top:30%;
	}
}
@media screen and (width: 667px) {
	.card {
		margin-top:18%;
	}
}
@media screen and (width: 1366px) {
	.card {
		margin-top:10%;
	}
}