@charset "utf-8";
/* CSS Document */
body {
	font-family:open sans !important;
	background-color:#DBDBDB !important;
}

.navbar.navbar-default.navbar-fixed-top {
	background-color:#003b49;
	border-color:transparent;
}
.navbar-nav>li>a {
	padding-top:10px !important;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid #myNavbar .nav.navbar-nav.navbar-right {
	margin-right:12%;
	margin-top:5px;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid #myNavbar .nav.navbar-nav.navbar-right li a {
	color:white;
	font-family:open sans;
	font-size:15px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color:transparent;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid #myNavbar .nav.navbar-nav.navbar-right .dropdown .dropdown-menu li a {
	color:#7F7F7F;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid #myNavbar .nav.navbar-nav.navbar-right .dropdown .dropdown-menu {
	background-color:#fff;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid #myNavbar .nav.navbar-nav.navbar-right .dropdown .dropdown-menu li a:hover {
	background-color:transparent;
	color:#003b49;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid .navbar-header .navbar-brand img {
	
	margin-top:-14px;
}
.header.navbar-fixed-top {
	width:100%;
	height:50px;
	margin-top:50px;
	background-color:#fff;
	box-shadow: 0px 0px 15px #888888;
}
.header.navbar-fixed-top ul {
	margin-right:8%;
	float:right;
	list-style:none;
	width:30%;
}
.header.navbar-fixed-top ul li {
	float:left;
	margin-left:4%;
}
.header.navbar-fixed-top ul li a {
	font-family:open sans;
	color:#003b49;
	font-size:12px;
	line-height:35px;
	text-decoration:none;
}	
.card {
	background-color:#FFF;
	margin-top:12px;
	height:400px;
}
.header.navbar-fixed-top .input-group.stylish-input-group {
	margin-top: 8px;
    width: 70%;
	float:left;
}
.header.navbar-fixed-top img {
	float:right;
	margin-right:18px;
}
.header.navbar-fixed-top .container .row .col-sm-6.col-sm-offset-3 figcaption {
	position: relative;
    right: -46px;
    top: 25px;
	font-weight:bold;
}
.card .view.overlay.hm-white-slight center .img-fluid {
	width:90%;
	border-radius:10px;
	margin-top:15px;
}
.card .card-body hr {
	background-color:#000;
	width:95%;
}
.card .view.overlay.hm-white-slight h2 {
	margin-top:30%;
	position:relative;
	top:10px;
	font-size:22px; 
	color:#44bda9;
	margin-left:20px;
}
.card .card-body .card-text {
	font-size:15px;
	margin-top:0px;
	margin-left:15px;
	color:#44bda9;
}
.card.two {
	margin-top:-90px;
}
@media (min-width:320px) and (max-width:768px) {
	body {
	font-family:open sans !important;
	background-color:#DBDBDB !important;
}

.navbar.navbar-default.navbar-fixed-top {
	background-color:#003b49;
	border-color:transparent;
}
.navbar-nav>li>a {
	padding-top:10px !important;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid #myNavbar .nav.navbar-nav.navbar-right {
	margin-right:12%;
	margin-top:5px;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid #myNavbar .nav.navbar-nav.navbar-right li a {
	color:white;
	font-family:open sans;
	font-size:15px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color:transparent;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid #myNavbar .nav.navbar-nav.navbar-right .dropdown .dropdown-menu li a {
	color:#7F7F7F;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid #myNavbar .nav.navbar-nav.navbar-right .dropdown .dropdown-menu {
	background-color:#fff;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid #myNavbar .nav.navbar-nav.navbar-right .dropdown .dropdown-menu li a:hover {
	background-color:transparent;
	color:#003b49;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid .navbar-header .navbar-brand img {
	
	margin-top:-14px;
}
.header.navbar-fixed-top {
	width:100%;
	height:50px;
	margin-top:50px;
	background-color:#fff;
	box-shadow: 0px 0px 15px #888888;
}
.header.navbar-fixed-top ul {
	margin-right:8%;
	float:right;
	list-style:none;
	width:30%;
}
.header.navbar-fixed-top ul li {
	float:left;
	margin-left:4%;
}
.header.navbar-fixed-top ul li a {
	font-family:open sans;
	color:#003b49;
	font-size:12px;
	line-height:35px;
	text-decoration:none;
}	
.card {
	background-color:#FFF;
	margin-top:110px;
	height:400px;
}
.header.navbar-fixed-top .input-group.stylish-input-group {
	margin-top: 8px;
    width: 70%;
	float:left;
}
.header.navbar-fixed-top img {
	float:right;
	margin-right:18px;
	margin-top:5px;
}
.header.navbar-fixed-top .container .row .col-sm-6.col-sm-offset-3 figcaption {
	position: relative;
    right: -37px;
    top: 26px;
    font-size: 12px;
    font-weight: bold;
}
.card .view.overlay.hm-white-slight center .img-fluid {
	width:90%;
	border-radius:10px;
	margin-top:15px;
}
.card .card-body hr {
	background-color:#000;
	width:95%;
}
.card .view.overlay.hm-white-slight h2 {
	margin-top:30%;
	position:relative;
	top:10px;
	font-size:22px; 
	color:#44bda9;
	margin-left:20px;
}
.card .card-body .card-text {
	font-size:15px;
	margin-top:0px;
	margin-left:15px;
	color:#44bda9;
}
.card.two {
	margin-top:-80px;
}
}